/* You can add global styles to this file, and also import other style files */
footer {
    position: absolute;
    bottom: 0;
    background-color: #454545;
    color: silver;
    width: 100%;
    font-size: 0.8rem;
    text-align: right;
    padding: 0 5px;
}
input {
    border-radius: 7px;
}
.table-header {
    font-weight: bold;
}
.table-narrow {
    width: 60%;
    margin: 0 auto;
}